<div class="container">
    <div class="row">
        <div class="cols-2">
    <h2>Login page</h2>
</div>
</div>
    <form>
        <div class="row">
        <div class="cols-2">
        <label>Emailid</label>
        <input type="email"><br/>
    </div></div>
    <div class="row">
        <div class="cols-2">
        <label>Password</label>
        <input type="password"><br/>
    </div></div>
    <div class="row"><label>Type Of User</label>
        <div class="cols-2">
        <input type="radio"> Admin
        <input type="radio"> Customer<br/>
    </div></div>
    <div class="row">
        <div class="cols-2">
        <input type="submit" value="SignIn"/>
        <input type="reset" value="reset"/>
    </div>
    </div></form>
</div>
